.TabletAreaSection>svg {
    position: absolute;
    left: 0;
    top: 0
}

.FullAreaContainer {
    background-image: url("../img/WYSI.gif");
    background-size: cover
}

#FullArea {
    /*fill: white;*/
    fill: transparent;
    stroke:rgb(0,0,0);
    stroke-width:1px
}

#UserDefinedArea {
    fill: blue
}

#PenPosition {
    fill: red
}

